server{
    listen 80;
    server_name www.{{ item.domain }};
    return 301 $scheme://{{ item.domain }}m$request_uri;
}

server{
        listen 80;
        server_name {{ item.domain }};
        root /var/www/{{ item.domain }};
        index index.html
}