server {
    listen 80;
    server_name www.{{ item.domain }};
    return 301 $scheme://{{ item.domain }}$request_uri;
}

server {
        listen 80;
        server_name {{ item.domain }};
        return 301 https://{{ item.domain }}$request_uri;
}
server {

    server_name {{ item.domain }};
    access_log /var/log/nginx/access.log;
    error_log /var/log/nginx/error.log;
    root /var/www/{{ item.domain }};

    listen 443 ssl; # managed by Certbot
    ssl_certificate /etc/letsencrypt/live/{{ item.domain }}/fullchain.pem; # managed by Certbot
    ssl_certificate_key /etc/letsencrypt/live/{{ item.domain }}/privkey.pem; # managed by Certbot
    include /etc/letsencrypt/options-ssl-nginx.conf; # managed by Certbot
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem; # managed by Certbot
}
